@import '../../styles/vars.scss';

.root {
    padding: 3px 2px 0px 2px;
    font-size: medium;
    color: $white-color;
    border-radius: 5px;
    border: none;
    background-color: transparent;
}

.root:hover {
    color: $white-color;
    background-color: lighten($primary-color, 5%);
}

.root:active {
    background-color: darken($primary-color, 5%);
}

.root:disabled {
    background-color: grey;
}
