@import '../../styles/vars.scss';
@import '../../styles/fonts.scss';
$padding: 10px;
.root {
  border-left: 8px solid transparent;
  padding-left: 20px;
  display: flex;
  font-size: 14px;
}
.root:hover {
  border-left-color: $primary-color;
  background: linear-gradient(to right, $accent-color 10%, transparent 90%);
}

.button {
  background-color: transparent;
  border: none;
  color: $grey-color;
  text-align: left;
  width: 100%;
  padding-top: $padding;
  padding-bottom: $padding;
  text-decoration: none;
  padding-left: 10px;
  font-family: 'Roboto';
}

.selected {
  border-left-color: $primary-color;
  color: $primary-color;
  font-weight: bold;
  background: linear-gradient(to right, $accent-color 10%, transparent 90%);

}
