@import "../../styles/vars.scss";

:root {
  --component-width: 60px;
  --component-height: 34px;
}

.root {
  position: relative;
  display: inline-block;
  width: var(--component-width);
  height: var(--component-height);
}

/* Hide default HTML checkbox */
.root input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $accent-color;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  --pointer-padding: 4px;
  --diameter: calc(var(--component-height) - var(--pointer-padding) * 2);
  position: absolute;
  content: "";
  height: var(--diameter);
  width: var(--diameter);
  left: var(--pointer-padding);
  bottom: var(--pointer-padding);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $primary-color;
}

input:checked + .slider:before {
  transform: translateX(calc(var(--component-width) -  var(--component-height)) );
}

/* Rounded sliders */
.round {
  border-radius: var(--component-height);
}

.round:before {
  border-radius: 50%;
}
