@import "../../styles/vars.scss";

.root {
  background-color: $content-bg-color;
  padding: 10px;
  width: fit-content;
}

.header {
  margin: 0;
  color: $white-color;
  margin-bottom: 0;
}

.content {
  color: $grey-color;
}
