@import "../../styles/vars.scss";

.root {
  background-color: $content-bg-color;
  padding-left: 10px;
  padding-bottom: 10px;
}

.header {
  padding-top: 10px;
  color: $white-color;
}

.content {
  color: $grey-color;
}
