@import '../../styles/vars.scss';

.card {
    background-color: $content-bg-color;
    padding-left: 10px;
    padding-bottom: 10px;
}

.card__header {
    padding-top: 10px;
    color: $white-color;
}

.card__content {
    color: $grey-color;
}
