@import "../../styles/vars.scss";
@import "../../styles/fonts.scss";

.root {
  font-family: "Roboto";
  color: $grey-color;
  background-color: $accent-color;
  padding: 5px;
  border: none;
}

// .textfield:valid {
//     border-color: $green-color;
// }

// .textfield:invalid {
//     border-color: $red-color;
// }

.icon {
  content: "\f007";
}
