@import '../../styles/vars.scss';

.root {
    font-family: $default-font;
    width: fit-content;
    min-width: 180px;
}

.switch {
    --component-width: 30px;
    --component-height: 20px;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.content {
    display: flex;
    gap: 15px;
    max-width: 150px;
}

.cardHeader {
    color: $white-color;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.lastActive {
    color: $primary-color;

}

.image {
    width: 70px;
}